<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <body class="container">
   
      <h3 class="mt-5">Room - Booking</h3>
      <h3>
         <a href = "{{ url_for('show_all') }}">會議室列表</a>
      </h3>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
      	 <hr/>
         <div class = "alert alert-danger" style='color: red'>
            {{ message }}
         </div>
      {%- endfor %}
      <hr/>
      
      
      <form action = "{{ request.path }}" method = "post">
	 <div class="input-group mb-3">
	     <div class="input-group-prepend">
	         <label class="input-group-text" for = "rid">會議室: {{ rid }} </label>
	     </div>
	 </div>
	 <div class="input-group mb-3">
	     <div class="input-group-prepend">
                 <label class="input-group-text" for="starttime">預約時間</label>
	     </div>
	     <input type="datetime-local" name="starttime" />
	 </div>
	 <div class="input-group mb-3">
	     <div class="input-group-prepend">
                 <label class="input-group-text" for="endtime">結束時間</label>
	     </div>
	     <input type="datetime-local" name="endtime" />
	 </div>
	 <div class="input-group mb-3">
	     <div class="input-group-prepend">
                 <label class="input-group-text" for="employee">預約人</label>
	     </div>
	     <select class="custom-select" name="employee">
	     {% for e in employees %}
	         <option value="{{ e.id }}">{{ e.name }}</option>
	     {% endfor %}
	     </select>
	 </div>
	 <div class="input-group mb-3">
	     <div class="input-group-prepend">
                 <label class="input-group-text" for="purpose">用途:</label>
	     </div>
             <input type="text" name="purpose" placeholder="用途" />
	 </div>
         <input class="btn btn-primary" type = "submit" value = "Submit" />
      </form>

      <hr/>

      <h4>已預約列表</h4>

      <table class="table">
         <thead>
            <tr>
               <th>會議室</th>
               <th>借用編號</th>
               <th>借用人</th>
               <th>借用時間</th>
               <th>結束時間</th>
               <th>用途</th>
               <th>修改</th>
               <th>取消</th>
            </tr>
         </thead>

         <tbody>
            {% for r in rbooks %}
               <tr>
                  <td>{{ r.roomid }}</td>
                  <td>{{ r.useid }}</td>
                  <td>{{ r.employee }}</td>
                  <td>{{ r.starttime }}</td>
                  <td>{{ r.endtime }}</td>
                  <td>{{ r.purpose }}</td>
                  <td>
                    <a href="{{ url_for('edit_booking', use_id=r.useid) }}" >
                        修改預約
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('del_booking', room_id=rid, use_id=r.useid) }}" >
                        取消預約
                    </a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
